/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
	font-family: 'Montserrat','Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
  background-image: url('../images/05.jpeg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
a {
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
}
a:hover {
	text-decoration: none;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}


@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

/* #Primary style
================================================== */

.section {
    position: relative;
	width: 100%;
	display: block;
}
.over-hide{
	overflow: hidden;
}
.full-height {
	height: 100vh;
}

/* #Navigation
================================================== */
 
.cd-header{
    position: fixed;
	width:100%;
	top:0;
	left:0;
	z-index:100;
	background:rgba(45, 27, 47, 0.312)
} 
.header-wrapper{
    position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
} 
.logo-wrap {
	position: absolute;
	display:block;
	right:0;
	top: 40px;
	cursor: pointer;
}
.logo-wrap a {
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	transition : all 0.3s ease-out;
}
.logo-wrap a span{ 
	color: #8167a9;
}
.logo-wrap :hover {
	opacity: 0.5;
	color: #b9a7d4;
	height: 100%;
	opacity: 1;
	top: 0;
}
.nav-but-wrap{ 
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 26px;
	transition : all 0.3s ease-out;
}
.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
}
.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}
.nav {
	position: fixed;
	z-index: 98;
}
.nav:before, .nav:after {
	content: "";
	position: fixed;
  top: 60px;
  left: 50px;
	width: 0;
	height: 0;
	background-color: rgba(45, 27, 47, 0.312);
	border-bottom-right-radius: 200%;
	z-index: -1;
	transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}
.nav:after {
	background-color: rgba(11, 9, 12, 0.506);
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
  box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
}
.nav:before {
	-webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.nav__content {
	position: fixed;
	visibility: hidden;
	top: 100px;
  left: 50px;
	width: 280px;
	text-align: left;
	margin-left: 15px;
    margin-top: -10px;
}
.nav__list {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
	
}
.nav__list-item {
	position: relative;
	display: block;
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
	opacity: 0;
	text-align: left;
	color: #fff;
	overflow: hidden; 
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 2px;
	-webkit-transform: translate(30px, 0%);
          transform: translate(30px, 0%);
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .2s ease;
	transition: opacity .2s ease, transform .2s ease;
	transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
  margin-top: 7px;
  margin-bottom: 7px;
}
.nav__list-item a{ 
	position: relative;
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	overflow: hidden; 
	cursor: pointer;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight:500;
	z-index: 2;
  padding-left: 40px;
  padding-top:5px;
  padding-bottom: 5px;
  line-height: 0.9;
	display: inline-block;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:after{ 
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 5px;
	height: 0;
	opacity: 0;
	background-color: #8167a9;
	z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.nav__list-item a:hover:after{ 
	height: 100%;
	opacity: 1;
	top: 0;
}
.nav__list-item a:hover{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a{
	color: rgba(255,255,255,1);
}
.nav__list-item.active-nav a:after{ 
	height: 100%;
	opacity: 1;
	top: 0;
}
body.nav-active .nav__content {
	visibility: visible;
}
body.nav-active .menu-icon__line {
	background-color: #fff;
	-webkit-transform: translate(0px, 0px) rotate(-45deg);
          transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
	width: 15px;
	-webkit-transform: translate(2px, 4px) rotate(45deg);
          transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
	-webkit-transform: translate(-3px, -3.5px) rotate(45deg);
          transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}
body.nav-active .nav {
	visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
	width: 180px;
	height: 240px;
	border-radius: 15px;
}
body.nav-active .nav:after {
	-webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.nav-active .nav:before {
	-webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.nav-active .nav__list-item {
	opacity: 1;
	-webkit-transform: translateX(0%);
          transform: translateX(0%);
	-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
	-webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
	-webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
	-webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
	-webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
	-webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
	-webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
	-webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
	-webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
	-webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
	-webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
	-webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.switch-wrap {
	position: absolute;
	top: 60%;
	left: -40%;
	z-index: 10;
    transform: translateY(-50%);
	width: 100%;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear; 
	margin: 0 auto;
	text-align: center;
}
.switch-wrap h1 {
	font-weight: 900;
	font-size: 40px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}



================================================== */

body.light{
	background-color: #fff;
}
body.light .cursor,
body.light .cursor2,
body.light .cursor3{
	mix-blend-mode: normal;
}
body.light .cursor2{
	border: 2px solid #1f2029;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
body.light .cursor2.hover{
	background: rgba(0,0,0,0.06);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	border-color: transparent;
}
body.light .logo-wrap a {
	color: #1f2029;
}
body.light .menu-icon__line {
	background-color: #1f2029;
}
body.light .nav:before {
	background-color: rgba(235, 235, 235,0.4);
}
body.light .nav:after {
	background-color: rgb(246,239,249);
  box-shadow: 6px 6px 22px rgba(42, 31, 63, 0.1);
}
body.light .nav__list-item a{ 
	color: rgba(0,0,0,0.6); 
}
body.light .nav__list-item a:hover{
	color: #1f2029;
}
body.light .nav__list-item.active-nav a{
	color: #1f2029;
}
body.light .switch-wrap h1 {
	color: #000;
}
body.light .switch-wrap p span:nth-child(2):before {
	opacity: 1;
	background-color: #000;
}
body.light .switch-wrap p span:nth-child(1):before {
	opacity: 0;
}

/* #Link to page
================================================== */
.link-to-portfolio {
	  position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 200;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: 100%;
  background-repeat: no-repeat;
    background-image: url('../images/03.png');
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}

.nav-bar li{
	display: inline-block;
	margin: auto;
	padding: 15px;
	margin-top: 5%;
	position: relative;
	margin: auto;
}

.nav-bar :hover {
height: 100%;
opacity: 1;
top: 0;

}


.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}




.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

#first {
	margin-top: 65%;
	margin-left: 10%;
	width: 30%;
	
}

.header-content a {
	font-size:11px;
}



#one .container {
	margin-top: 10%;
}

#one p {
	width: 90%;
}



#two {
	margin: 10%;
}

div .call-to-action {
	padding: 10%;
	text-align: center;
	display: inline-grid;
	text-align: center;
	margin-top: 5%;
}

.wide-space text-center h6 {
	text-align: center;
}

.header-img img {
	width: 50%;
	height: auto;
	position: absolute;
	margin-left: 30%;
	margin-top: -12%;
	filter: drop-shadow(10px 7px 9px #b6b6b665);

}

.margin-top-0 {
	margin-top: 10%;
}


* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
  }
  
  a {
	text-decoration: none;
	transition: all 0.3s ease;
  }
  
  .hero {
	margin-top: 60%;
	text-align: center;
	position: relative;
	color: #fff;
	overflow: hidden;
	font-family: 'Noto Sans KR', sans-serif;
  }
  .hero h1 {
	margin: 50px 0 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
  }
  .hero h1 span {
	font:  44px/1 "Dancing Script", cursive;
	line-height: 100px;
	display: block;
	font-family: 'Noto Sans KR', sans-serif;
	display: inline;
	box-shadow: inset 0 -50px 0 #7f359cce; 
	transition: 0.2s all;
  }


  .hero h2 {
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	font-weight: 400;
	padding: 20px;
  }
	.hero h1 {
	  font-size: 50px;

	}
	.hero h1 span {
	  font-size: 76px;
	}
	.hero h2 {
	  width: 76%;
	  font-size: 18px;
	}
  
  
  .wrapper {
	margin: 0 auto;
	width: 96%;
	max-width: 1120px;
	margin-top: 40%;
  }
  
  .section {
	padding: 60px 0;
  }
  .section__title {
	font-size: 24px;
	color: #3b3b58;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin: 14px 0;
  }


	}
  }
  .section__intro {
	display: block;
	text-align: center;
	margin: 0 5% 30px;
  }
  @media only screen and (min-width: 43.75em) {
	.section__intro {
	  margin-left: 15%;
	  margin-right: 15%;
	}
  }
  .section--cta {
	color: #454545;
	background: #f1f1f1;
  }
  
  .box {
	display: flex;
	flex: 1 0 100%;
	margin-bottom: 20px;
	background: #f9f9f9;
  }
  .box__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  .box__title {
	font-family: "Montserrat", sans-serif;
  }
  .box__more {
	color: #ff4e5c;
  }
  .box__content {
	color: #454545;
	text-align: center;
	padding: 20px;
  }
  .box__content > i {
	color: #3b3b58;
  }
  .box__content:hover .box__more {
	color: #ff3545;
  }
  .box__content:hover .box__more i {
	padding-left: 4px;
	transition: all 0.2s ease-in-out;
  }
  @media only screen and (min-width: 43.75em) {
	.box {
	  flex: 0 0 30%;
	}
  }
  
  .btn {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	display: block;
	margin: 0 auto;
	max-width: 300px;
	padding: 12px 18px;
	border-radius: 100px;
	background: #4281d9bf;
  }
  .btn:hover {
	background: #4281d9bf;
	filter: opacity(.8);
  }
  
  .footer {
	color: #fff;
	text-align: center;
	padding: 10px 0;
	background: #3b3b58;
  }
  .footer p {
	opacity: 0.65;
  }

 #lightpink img{
	width: 100%;
	height: 100%;
	display: block;
	margin-top: 10%;
	-webkit-transition: all 300ms ease-in-out;
	filter: drop-shadow(10px 6px 6px #c3c3c336);

  }
#ebe-btn {
	top:78%;
	right: 65%;
	position: absolute;
	width: 30%;
	background-color: linear-gradient(#a055e1, #ffffff,4d3c5c)
}

  #lightpink h3 {
	font-size: 20px;
	margin-top: 60%;
	margin-left: 50%;
	display: inline-block;
	position: absolute;
  }

  #lightpink :hover h3 {
	opacity: .2;
  }


#ecomask img {
	width: 35%;
	height: 55%;
	display: block;
	position: ree;
	-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
	filter: drop-shadow(10px 6px 6px #c3c3c336);
}

#ecomask:hover img {
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
	opacity: .5;
	opacity: .7;

  }

.section__title {
	margin-top: -40%;
}
#ecomask img {
	display: inline-block;
	justify-content: center;
	margin-left: 10%;
	filter: drop-shadow(10px 6px 6px #5e5e5e86);
	float: left;
}

.section__intro {
	display: inline-block;
	justify-content: center;
	margin-left: 35%;
}


h1::before {  
	transform: scaleX(0);
	transform-origin: bottom right;
  }
  
